<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up!</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>WELCOME TO THE PAGE</h1>
    <form action="/display" method="post" >
        {% csrf_token%}
            <div class="formgroup">
            <label for="name">Name:</label>
            <input type="text" name="name" id="form">
            </div>
            <div class="formgroup">
                <label for="locations">Location:</label>
                <select name="location" id="form" value="location">
                    {% for locat in locations %}
                    <option value={{locat}}>{{locat}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="formgroup">
                <label for="languages">Language</label>
                <select name="language" id="form">
                    {% for lang in languages %}
                    <option value={{lang}}>{{lang}}</option>
                    {% endfor %}
                </select>
            </div>
                <label for="comments">Comments:</label>
                <textarea name="comments" id="" cols="30" rows="8"></textarea>

        <input type="submit" value="submit">
        </form>



</body>
</html>